---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>My Astro Site</h1>
    <h1>About me</h1>
    <p>I am working through Astro's introductory tutorial. this is the second page on my website, and its the first one i built myself</p>
    <p>This site will update as i complete more of the tutorial </p>
	</body>
</html>